{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div ><img src="{% static 'images/be_a_part_of_us.jpg' %}" width="100%" height="90%" class="d-inline-block align-top" alt="">
</div>
</div>

<div class="container">
    <h1></h1>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"  style="color: grey; font-weight: bold">Franchise</h3>
          <p class="card-text"><b>Do you have a Team of Engineers & looking for business ?</b>

<ul>ServiceMan is here with a unique opportunity for all those who really want to make it big in the highly competitive service industry!!</ul>

<ul>Income: Your recurring and short-term earnings through employment and investments.</ul>
<ul>Lifestyle: A manner of living that reflects your values and attitudes.</ul>
<ul>Wealth: Having plentiful material goods and money.</ul>
<ul>Equity: The interest in assets you have acquired and accumulated that can be unlocked someday through a sale.</ul>
<ul>Debt elimination: The ability to live comfortably without being burdened and stressed by carrying debt.</ul>
<ul>Is you career giving you what you desire?</ul>

Consider Franchising with Serviceman as a golden opportunity... Interested in taking franchisees, write to :
</ul>
        <a href="#" class="">franchisee@smartservicebuddy.in</a>
      </div>
    </div>
  </div>


  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"  style="color: grey; font-weight: bold; " >Service Engineers</h3>
          <p class="card-text"><b>Want to reach on the top following your dreams?</b>

<ul>ServiceMan is here with a unique opportunity for all those who really want to make it big in the highly competitive service industry!!</ul>

<ul>Want to work from home</ul>
<ul>Want to work on calls near you home.</ul>
Interested in being a part of ServiceMan, write to:



 </p>
        <a href="#" class="primary">Career@smartservicebuddy.in
</a>
          <br>
          <br><p></p>
          <br><br><br><br><br><br><br>




      </div>
    </div>
  </div>
</div>
    </div>
{% endblock %}       