    {% extends 'base.html' %}
{% block title %}Thank you-SmartServiceBuddy{% endblock %}
{% block content %}
<div class="container"><h1>Thanks for being awesome!</h1>
    <h4>Please Verify your Email...!!</h4>


<p>We have received your request and would like to thank you for writing to us. If your request is urgent, please use the telephone number listed below to talk to one of our staff members. Otherwise, we will reply by email as soon as possible.
</p>
    <p>
    Talk to you soon,<br>
    <a href="">SmartServiceBuddy</a>
</p>
</div>

{% endblock %}