{% extends 'base.html' %}

{% block title %}Who We Are-SmartServiceBuddy{% endblock %}
{% load static %}

{% block content %}

    <div ><img src="{% static 'images/who_we_are.jpg' %}" width="100%" height="90%" class="d-inline-block align-top" alt="">
</div>
<div class="container ">
    <br>

    <br>
    <p class="text-monospace  font-italic font-weight-bold" style="font-size:130%;">An average Indian household today uses at least 10 to 15 electrical appliances and electronic devices of varying age and brands & everyday each individual faces such small or big problems. The main motive behind Serviceman is to address these very concerns of consumers and act as a single window solutions provider in regard to customer’s decision on the choice of technology, size, installation, maintenance, repair, exchange, recycle and more for Audio, Video, White goods, Mobile, Telecommunication, Electrical Appliances, IT products and all other possible electronic devices. Our technicians are well trained and undergo frequent skill up-gradation programs to keep up with the technological advancements.
    </p>
<br>

    <br>
<p class="text-monospace  font-italic font-weight-bold "style="font-size:130%;">Innovative services, after-service solutions, call center facility, web consultancy services, assured safety and thorough market research to incorporate new servicing techniques are our strength which have made us mark our presence all over within a short span.</p>
<br>

    <br>
<p class="text-monospace  font-italic font-weight-bold" style="font-size:130%;">Our passion for consumer service has seen us in long-term partnerships with India's biggest retail chains and corporate like the Metro cash & carry, Aditya Birla Group, Bajaj, Murphy Richards, Kelvinator and a bevy of leading consumer durables brands.</p>
<br>
    <br>
    <br>
</div>
</div>
{% endblock %}